<div class="layout clear">
  <div class="header">
    <h1>super customized checkboxes and radio buttons for Angular4</h1>
    <h3>iCheck <span>v1.0.2</span></h3>
  </div>
  <div class="features">
    <div class="arrows">
      <div class="bottom" data-to="demo"></div>
    </div>
    <h2>Plugin features</h2>
    <ul>
      <li>
        <strong>Identical inputs across different browsers and devices</strong> &mdash; both <span class="self" data-to="download">desktop and mobile</span>
      </li>
      <li>
        <strong>Touch devices support</strong> &mdash; iOS, Android, BlackBerry, Windows Phone, Amazon Kindle
      </li>
      <li>
        <strong>Keyboard accessible inputs</strong> &mdash; <span class="mark">Tab</span>, <span class="mark">Spacebar</span>, <span class="mark">Arrow up/down</span> and other shortcuts
      </li>
      <li>
        <strong>Screenreader accessible inputs</strong> &mdash; <a href="https://developer.mozilla.org/en-US/docs/Accessibility/ARIA" target="blank">ARIA</a> attributes for VoiceOver and others
      </li>
      <li>
        <strong>Customization freedom</strong> &mdash; use any HTML and CSS to style inputs (try <span class="self" data-to="skins">6 Retina-ready skins</span>)
      </li>
      <li>
        <strong>jQuery and Zepto</strong> JavaScript libraries support from single file
      </li>
      <li>
        <strong>Lightweight size</strong> &mdash; 1 kb gzipped
      </li>
      <li class="offset">
        <strong class="self" data-to="options">32 options</strong> to customize checkboxes and radio buttons
      </li>
      <li>
        <strong class="self" data-to="callbacks">11 callbacks</strong> to handle changes
      </li>
      <li>
        <strong class="self" data-to="methods">9 methods</strong> to make changes programmatically
      </li>
      <li>
        Saves changes to original inputs, <span class="self" data-to="init">works carefully</span> with any selectors
      </li>
    </ul>
  </div>
  <div class="social clear">
    <ul class="left">
      <li>
        <a href="https://github.com/yiller/ng4-icheck">Download latest version</a>
      </li>
    </ul>
    <ul class="right local">
      <li>
        <a href="https://github.com/yiller/ng4-icheck">Star on GitHub</a>
      </li>
    </ul>
  </div>
  <div class="demo-holder">
    <h2 class="demo-title">Demo</h2>
    <div class="demo">
      <div class="arrows">
        <div class="top" data-to="features"></div>
        <div class="bottom" data-to="skins"></div>
      </div>
      <div class="demo-list clear">
        <ul>
          <li>
            <label>
              <input #input1 icheck tabindex="1" type="checkbox"
              (ifClicked)="log($event, 'input-1')"
              (ifChanged)="log($event, 'input-1')" 
              (ifChecked)="log($event, 'input-1')"
              (ifUnchecked)="log($event, 'input-1')"
              (ifDisabled)="log($event, 'input-1')"
              (ifEnabled)="log($event, 'input-1')"
              >Checkbox, <span>#input-1</span>
            </label>
          </li>
          <li>
            <input #input2 icheck tabindex="2" type="checkbox" checked
            (ifClicked)="log($event, 'input-2')"
            (ifChanged)="log($event, 'input-2')" 
            (ifChecked)="log($event, 'input-2')"
            (ifUnchecked)="log($event, 'input-2')"
            (ifDisabled)="log($event, 'input-2')"
            (ifEnabled)="log($event, 'input-2')"
            >
            <label for="input-2">Checkbox, <span>#input-2</span></label>
          </li>
        </ul>
        <ul>
          <li>
            <input #input3 icheck tabindex="3" type="radio" name="demo-radio"
            (ifClicked)="log($event, 'input-3')"
            (ifChanged)="log($event, 'input-3')" 
            (ifChecked)="log($event, 'input-3')"
            (ifUnchecked)="log($event, 'input-3')"
            (ifDisabled)="log($event, 'input-3')"
            (ifEnabled)="log($event, 'input-3')"
            >
            <label for="input-3">Radio button, <span>#input-3</span></label>
          </li>
          <li>
            <input #input4 icheck tabindex="4" type="radio" name="demo-radio" checked 
            (ifClicked)="log($event, 'input-4')"
            (ifChanged)="log($event, 'input-4')" 
            (ifChecked)="log($event, 'input-4')"
            (ifUnchecked)="log($event, 'input-4')"
            (ifDisabled)="log($event, 'input-4')"
            (ifEnabled)="log($event, 'input-4')"
            >
            <label for="input-4">Radio button, <span>#input-4</span></label>
          </li>
        </ul>
      </div>
      <dl class="demo-methods">
        <dt>
          <span (click)="doCheck()" class="self do-check">Add <span class="mark">checked</span> state to 1 and 3 inputs</span>
          <span class="code">
            <span (click)="fadeInOut('doCheck')" class="self">show code</span>
          </span>
        </dt>
        <dd [@fadeIn]="fadeIn.doCheck">
<pre class="markup">
this.input1.check();
this.input3.check();
</pre>
        </dd>
        <dt>
          <span (click)="doUncheck()" class="self do-uncheck">Remove <span class="mark">checked</span> state from 1 and 3 inputs</span>
          <span class="code">
            <span (click)="fadeInOut('doUncheck')" class="self">show code</span>
          </span>
        </dt>
        <dd [@fadeIn]="fadeIn.doUncheck">
<pre class="markup">
this.input1.uncheck();
this.input3.uncheck();
</pre>
        </dd>
        <dt>
          <span (click)="doDisable()" class="self do-disable">Add <span class="mark">disabled</span> state to 2 and 4 inputs</span>
          <span class="code">
            <span (click)="fadeInOut('doDisable')" class="self">show code</span>
          </span>
        </dt>
        <dd [@fadeIn]="fadeIn.doDisable">
<pre class="markup">
this.input2.disable();
this.input4.disable();
</pre>
        </dd>
        <dt>
          <span (click)="doEnable()" class="self do-enable">Remove <span class="mark">disabled</span> state from 2 and 4 inputs</span>
          <span class="code">
            <span (click)="fadeInOut('doEnable')" class="self">show code</span>
          </span>
        </dt>
        <dd [@fadeIn]="fadeIn.doEnable">
<pre class="markup">
this.input2.enable();
this.input4.enable();
</pre>
        </dd>
      </dl>
      <div class="demo-callbacks">
        <h2>Callbacks</h2>
        <ul #callbacks></ul>
      </div>
    </div>
  </div>
</div>